<div id="home" class=" row row-home m-0 p-0 align-items-end">

    <div class="area-home-col col-12  col-md-6  d-flex  align-items-center justify-content-center bg-dark"
        data-aos="fade-right">
        <div class="text-center" style="margin-top: 10%;">
            <img class="foto rounded-circle" width="200px"
                src="https://pbs.twimg.com/profile_images/2767661189/ae5a718a4849a96ba896b4f0fb9fc960.png" alt="foto">

            <h5 class="mt-4 home-nome">Denilson Souza</h5>

            <h5 class="mt-4 descri-nome">Full Stack Developer</h5>

            <table class="table-borderless rounded   table-style text-left ">
                <tbody>
                    <tr class=" text-center">
                        <td class="p-4 ">
                            <a style="font-size: 20px;" href="https://github.com/DhenSouza" target="_blank"
                                class="text-dark">
                                <i class=" fab fa-github-alt fa-lg"></i>
                            </a>
                        </td>

                        <td class="p-4">
                            <a style="font-size: 20px;" href="https://www.linkedin.com/in/denilson-t-de-souza/"
                                target="_blank" class="text-dark">
                                <i class="fab fa-linkedin fa-lg"></i>
                            </a>
                        </td>
                        <td class="p-4">
                            <a style="font-size: 20px;" href="https://www.instagram.com/dhenilson.souza/"
                                class="text-dark" target="_blank">
                                <i class="fab fa-instagram fa-lg"></i>
                            </a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

    </div>