.area-home-col{
	height: 100vh;
}

.foto{
	
	border-radius: 100%;
	width: 230px;
	border: 6px solid #686C73;
	box-shadow: 4px 4px 4px 4px rgba(2, 2, 2, 0.25);
}

.home-nome{
	color: #686C73;
	font-size: 35px;
}

.front-nome{
	color:#686C73;
}

.span::before
{
    content: '';
    animation: word-swith 4s infinite;
}

.titulo-col2{
	margin-top: 15%;
	font-size: 40px;
	
}

.table-style{
	width: 400px; 
	background: rgba(255, 255, 255, 0.589) ;
	font-size: 15px;
	box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);

}

table{
    
    border-radius: 10px;
	/*box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);   */
}	